
.card {
    background-color: #edb8a5;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: white;
    font-weight: bold;
}

  /* QUESTION/LEFT SECTION */
.question-section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    position: relative;
    text-align: center;
}

.question-count {
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(236,97,87);
    border-radius: 25px;
    padding: 10px;
    width: 100px;
}

.question-text {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
    font-size: 30px;
}

  /* ANSWERS/RIGHT SECTION */
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

button {
    width: 100%;
    font-size: 16px;
    color: #252121;
    background-color: #f5e4e2;
    border-radius: 15px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #8f3926;
    cursor: pointer;
    
}

h3 {
    text-align: center;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

button:hover {
    background-color: rgba(255,133,143,255);
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}