body {
    background-color: rgba(249,241,241,255);
}

h1 {
    color: rgb(236,97,87);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Bradley Hand', 'cursive';
    font-weight: lighter;
}
.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url("../assets/background-image.jpg");
    background-size:cover;
    align-content: space-between;
    padding: 10px;
}


.content {
    display: flex;
    justify-content:space-around;
}
.contentMain {
    display: flex;
    height: 50vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* default setting; can be omitted */
    margin: 20px;
    gap: 50px;
    padding: 50px 0px 50px 200px;
}

.nav {
    /* put the nav on the left */
    flex: 0 0 15em;
    order: -1;
    background: rgba(250, 128, 114, 0.5);
    margin: 0px 0px 0px 10px;
    border-radius: 25px;
}

.topics {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topic-buttons {
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#topic-buttons:hover {
    background-color: white;
}

.random {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header, footer {
    flex: 0 0 15vh;
    display: flex;
    gap: 150px;
    align-items: center;
    padding: 0px 0px 50px 25px;
}

/*Nested Content*/

.uterus-graphic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: 'Bradley Hand', 'cursive';
}

#uterus-pic {
    height: 250px;
}

.cards {
    flex: 0 0 100%;
    align-content: center;
}


/* bounce */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 

.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.bounce-infinite {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}